<html>
<body>
<form action="/api/v1/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender">
    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location">
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <br>
    <label for="profilePhoto">Profile Photo:</label>
    <input type="text" id="profilePhoto" name="profilePhoto">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>